@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-base: 900px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.custom-dashed-border-top {
  border-top: 0.5px solid transparent; /* Required for border-image to work */
  border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12"><rect width="5" height="2" fill="%23808080"/></svg>')
    1 stretch;
  border-image-slice: 1;
  border-image-repeat: repeat;
}

.custom-dashed-border-right {
  border-right: 0.5px solid transparent; /* Required for border-image to work */
  /* use a vertical SVG so the repeated pieces run top-to-bottom for the right border */
  border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="12"><rect width="2" height="5" fill="%23808080"/></svg>')
    1 stretch;
  border-image-slice: 1;
  border-image-repeat: repeat;
}

.backgroundGrayGradient {
  @apply base:py-40 justify-items-center bg-[linear-gradient(180deg,_#F5F5F5_0%,_#FFFFFF_100%)] px-8 py-28 dark:bg-[linear-gradient(180deg,_#0A0A0A_0%,_#000000_100%)];
}
.heading1 {
  @apply max-w-160 text-3xl font-semibold sm:text-4xl;
}

.heading2 {
  @apply text-lg font-medium sm:text-xl;
}

.description1 {
  @apply text-base font-medium sm:text-lg;
}

.description2 {
  @apply text-sm font-medium sm:text-base;
}
